html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(231, 232, 238);
}

.container {
    height: 100%;
    width: 100%;
    background-color: RGB(231, 232, 238);
    padding: 0;
    margin: 0;
}

.header {
    height: 64px;
    width: 120%;
    background-color: #89ace7;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dee2e6;
    color: #ffffff;
}

/* 按鈕 */
button {
    color: rgb(63, 95, 144);
    text-align: center;
    font-family: 'Microsoft Sans Serif';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 96px;
    height: 50px;
    display: inline-flex;
    padding: 13px 16px;
    justify-content: center;
    align-items: center;
    gap: 481px;
    border-radius: 50px;
    background: rgba(197, 209, 211, 0.51);
    border-color: white;
}

.character-controls {
    margin-left: 80%;
}

/* 調整文字區塊大小對齊 */
.textarea-container {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.textarea-label {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
    font-size: 18px;
}

/* 生成按鈕的位移量 */
.submit-button {
    margin-left: 40%;
    /* Adjust this value as needed for alignment */
}

.label-spacing {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
    font-size: 18px;
}

.last-label {
    margin-bottom: 0;
}

.main-content {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 10px;
    align-items: center;
}

.label-row {
    display: flex;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.v-line {
    border-left: thin solid #000;
    height: 100%;
    left: 50%;
    position: absolute;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.image-container img {
    width: 300px;
    /* 調整這裡來設置圖片的寬度 */
    height: auto;
}