.inputright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

.imageZone {
  position: fixed;
  top: 0px;
  left: 70px;
  width: 100%;
  max-width: 1080px;
  background-color: rgba(170, 78, 216, 0.4);
  padding: 10px 20px 20px;
  border-left: 1px solid #5c0000;
  height: 100vh;
  overflow-y: auto;
  z-index: 0;
}

.image-container {
  text-align: center;
  background-color: rgba(170, 78, 216, 0.4);
  /* 文字居中 */
  /* 增加上边距，根据需要调整值 */
}

.image-container img {
  max-width: 100%;
  /* 图片最大宽度为容器宽度的100% */
  height: auto;
  /* 保持图片宽高比例 */
  display: block;
  /* 去掉图片默认的下边距 */
  margin: 0 auto;
  /* 图片水平居中 */
}

/* 在小屏幕上应用不同的样式 */
@media (max-width: 768px) {
  img {
    width: 50%;
  }
}

/* .image-container p {
  font-size: 16px;
  color: #333;
} */

.imageStoryFont{
  font-size: 16px;
  color: #333;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 10px;
  position: fixed;
  border: 2px solid #4CAF50;
  /* border: none; */
  padding: 5px;
  bottom: 10px;
  right: 0px;
}

input[type="text"] {
  flex-grow: 1;
  width: 220px;
}