/* html,
body {
   margin: 0;
   padding: 0;
   height: 100%;
} */

/* .container {
   display: flex;
   height: 100%;
} */
.background{
   background-image: url('../Assets/170108.jpg');
   background-size: cover;
   background-position: center center;
   background-attachment: fixed;
   width: 100%;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   z-index: -1; 
}
.container {
   /* border: 1px solid #ccc; */

   padding: 10px;
   max-width: 1020px;
   margin: 20px auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.left-area {
   width: 140px;
   padding: 5px;
}

/* .right-area {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
} */

/* .right-left {
   top: 0px;
   width: 50%;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-right: 3px;
} */

/* .right-right {
   top: 0px;
   width: 50%;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-left: 3px;
} */

.image-container {
   background-color: white;
   top: 0px;
   width: 700px;
   height: 550px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.button-container button {
   width: 100%;
   height: 100%;
   
}

/* .button-area {
   display: flex;
   flex-direction: column;
}

.button-area button {
   margin-bottom: 10px;
   width: 100px;
} */

.audio-container {
   width: 100%;
   text-align: center;
}

audio {
   width: 75%;
}

/* .text-container {
   background-color: rgb(255, 255, 255);
   height:70px;
   width: 500px;
   text-align: left;
   padding-top: 10px;
   padding-bottom: 10px;
   overflow: hidden;
}

.text-container span {
   display: block;
} */


.arrow-container-left {
   position: fixed;
   left: 13px;
   bottom: 13px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 4px;
}

.arrow-container-left button {
   font-size: 20px;
   padding: 4px;
}

.arrow-container-right {
   position: fixed;
   right: 13px;
   bottom: 13px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 4px;
}

.arrow-container-right button {
   font-size: 20px;
   padding: 4px;
}

.leftbutton-style{
   background-color: #52858c;
   border-radius: 20px;
   color: white;
   border-color:white;
   width: 200px; /* 設置按鈕的寬度 */
   padding: 10px; /* 可以根據需要調整內邊距 */
   text-align: center;
   /*padding-right:100px;
   padding-left: 100px;
   margin: 0 10px;
   width: 200px;*/
}
.rightbutton-style{
   background-color: #E7775D;
   border-radius: 20px;
   color: white;
   border-color:white;
   width: 200px; /* 設置按鈕的寬度 */
   padding: 10px; /* 可以根據需要調整內邊距 */
   text-align: center;
   /*padding-right:100px;
   padding-left: 100px;
   margin: 0 10px;
   width: 200px;*/
}