html,
body {
   margin: 0;
   padding: 0;
   height: 100%;
}

/* .container {
   display: flex;
   height: 100%;
} */

.container {
   /* border: 1px solid #ccc; */
   padding: 10px;
   max-width: 1020px;
   margin: 20px auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.left-area {
   width: 140px;
   padding: 5px;
}

.right-area {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
}

.right-left {
   top: 0px;
   width: 50%;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-right: 3px;
}

.right-right {
   top: 0px;
   width: 50%;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-left: 3px;
}

.image-container {
   background-color: white;
   top: 0px;
   width: 700px;
   height: 550px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.button-container button {
   width: 100%;
   height: 100%;
   
}

/* .button-area {
   display: flex;
   flex-direction: column;
}

.button-area button {
   margin-bottom: 10px;
   width: 100px;
} */

.audio-container {
   width: 100%;
   text-align: center;
}

audio {
   width: 75%;
}

/* .text-container {
   background-color: rgb(255, 255, 255);
   height:70px;
   width: 500px;
   text-align: left;
   padding-top: 10px;
   padding-bottom: 10px;
   overflow: hidden;
}

.text-container span {
   display: block;
} */