.background{
    background-image: url("https://img.onl/5GVB3w");
    background-repeat: no-repeat;
    background-size: cover; /* 让背景图片填满容器 */
    width: 100%; /* 设置容器宽度 */
}

.leftbutton {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px 20px; /* 調整按鈕的內邊距 */
    border-radius: 5px; /* 按鈕的圓角 */
  }
.rightbutton {
    position: fixed;
    bottom: 0;
    right: 350px;
    padding: 10px 20px; /* 調整按鈕的內邊距 */
    border-radius: 5px; /* 按鈕的圓角 */
}

.imagesize{
    width: 500px;
    float: left;
}
/*
.con{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.storycontent {
    position: absolute;
    top: 0;
    background-color: rgba(255,255,255,0.7);
    vertical-align: top;
    font-size: 15px;
    padding: 20px;
}
*/